.fade-in,
.fade-in-place,
.fade-slide-left,
.fade-slide-right {
  opacity: 0;
}

[data-inviewport="true"] .fade-in {
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

[data-inviewport="true"] .fade-in-place {
  animation: fadeInPlace 0.4s ease forwards;
}

@keyframes fadeInPlace {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[data-inviewport="true"] .fade-slide-left {
  animation: fadeSlideInLeft 0.6s ease forwards;
}

@keyframes fadeSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-10vw);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

[data-inviewport="true"] .fade-slide-right {
  animation: fadeSlideInRight 0.6s ease forwards;
}

@keyframes fadeSlideInRight {
  from {
    opacity: 0;
    transform: translateX(10vw);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

